@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:500,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@layer base {
    html {
        @apply font-sans;
    }

    body {
        @apply bg-black min-h-screen grid overflow-x-hidden;
    }
}

@layer components {
    .fancy-button {
        @apply p-1 sm:p-2 rounded-full flex items-center;
    }

    .fancy-button div.text {
        @apply grow px-2 sm:px-3 text-sm;
    }

    .fancy-button span.icon {
        @apply grid place-items-center rounded-full w-10 h-10 sm:w-14 sm:h-14;
    }
}

#menu-dropdown {
    @apply w-full absolute top-full mt-2 left-0 border border-[#212121] bg-[#0A0A0A] rounded-2xl opacity-0 scale-75 -translate-y-5 overflow-hidden transition-all duration-0 ease-in delay-100;
}

#menu-dropdown li {
    @apply opacity-0 translate-y-20 delay-0 ease-[cubic-bezier(.19,.72,.16,.99)] transition-all duration-[1250ms];
}

@layer overide {
    #menu-dropdown.open {
        @apply !opacity-100 !translate-y-0 !scale-100 !delay-0 !ease-[cubic-bezier(.12,.69,.16,.99)] !duration-1000;
    }

    #menu-dropdown.open li {
        @apply !opacity-100 !translate-y-0 !delay-[calc(var(--delay,0ms)_+_350ms)];
    }
}

@layer custom {
    .card-wrapper {
        perspective: 500px;
    }

    .card-wrapper .card {
        transform-style: preserve-3d;
    }

    .card-wrapper .card img {
        backface-visibility: hidden;
    }

    .card-wrapper .card img:nth-child(2) {
        transform: rotateY(180deg) rotateZ(240deg);
    }

    #hero-image-wrapper {
        clip-path: polygon(10% 10%, 10% 10%, 10% 90%, 10% 90%);
    }
}
