@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:500,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@layer base {
    html {
        @apply font-sans;
    }

    body {
        @apply bg-black min-h-screen grid overflow-x-hidden;
    }
}

@layer components {
    .fancy-button {
        @apply p-1 sm:p-2 rounded-full flex items-center;
    }

    .fancy-button div.text {
        @apply grow px-2 sm:px-3 text-sm;
    }

    .fancy-button span.icon {
        @apply grid place-items-center rounded-full w-10 h-10 sm:w-14 sm:h-14;
    }
}
